<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangdakeji.wongder.common.persistence.dao.TravelMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wangdakeji.wongder.common.persistence.model.Travel">
		<id column="id" property="id" />
		<result column="travel_date" property="travelDate" />
		<result column="travel_name" property="travelName" />
		<result column="hotel_location" property="hotelLocation" />
	</resultMap>

</mapper>
